1. 입력
   (1) 프로그램을 실행할 때, 프로그램 이름과 발표자 리스트를 같이 입력한다.
   (2) 프로그램 이름 뒤에 한칸 띄고, 발표자 리스트를 입력한다.
   (3) 발표자와 발표자는 띄어쓰기를 이용해서 구분 입력한다.
       ex) 프로그램이름.js 홍길동 나하나 이소룡

2. 조건
   - 발표자 리스트를 입력할 때, 발표자는 2명 이상 입력해야 한다.

3. 출력
    Hello satellte_jsm6330
    < 그림 출력 >
   (1) 입력받은 발표자가 2명 이상인 경우 -> 발표자를 1명 랜덤으로 출력
   (2) 입력받은 발표자가 2명 미만인 경우 -> '발표자는 2명 이상 입력해야 합니다' 라는 메시지 출력 
